/* * means universal selector */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* "body" selects all the content under the body tag */
body {
  background-color: lemonchiffon;
}

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* this selector selects all elements that are under the class of "highlighted-text" */
.highlighted-text {
  font-weight: bolder;
}

/* this selector selects all elements that are under the ID of "contact-section" */
#contact-section {
  background-color: #f0ead6;
}
