.lesson {
  background-color: lemonchiffon;
}

.title {
  color: rgb(29, 0, 133);
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}
